deta/
.github
.ipynb_checkpoints
__pycache__/
data/
docker/
log/
notebooks/
venv_api/
venv_linux/
venv_streamlit/
venv_win/
*.ipynb
Dockerfile
docker-compose.yaml
.git
README.md
venv/
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis